<div class="container">
    <h2>{{courseData.courseName}}</h2>
<h1>Course Curriculum</h1>
<div *ngIf="courseData.courseName=='Go Programming Online Training'">
    
    <accordion>
        <accordion-group heading="Introduction">
          <p>Hello World</p>
          <p>Command Line Argument</p>
          <p>Finding Duplicate Lines</p>
          <p>Fetching a Url</p>
        </accordion-group>
        <accordion-group heading="Program Structure">
          <p>Names</p>
          <p>Declarations</p>
          <p>Variables</p>
          <p>Assignments</p>
        </accordion-group>
        <accordion-group heading="Basic Datatype">
          <p>Integer</p>
          <p>Floating Point Number</p>
          <p>Complex Numbers</p>
          <p>Boolean Value</p>
        </accordion-group>
        <accordion-group heading="Composite Types">
          <p>Array</p>
          <p>Slices</p>
          <p>Map</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </p>
</div>
<div *ngIf="courseData.courseName=='Android Online Training'">
    
    <accordion>
        <accordion-group heading="Introduction">
          <p>Hello World</p>
          <p>Command Line Argument</p>
          <p>Finding Duplicate Lines</p>
          <p>Fetching a Url</p>
        </accordion-group>
        <accordion-group heading="Program Structure">
          <p>Names</p>
          <p>Declarations</p>
          <p>Variables</p>
          <p>Assignments</p>
        </accordion-group>
        <accordion-group heading="Basic Datatype">
          <p>Integer</p>
          <p>Floating Point Number</p>
          <p>Complex Numbers</p>
          <p>Boolean Value</p>
        </accordion-group>
        <accordion-group heading="Composite Types">
          <p>Array</p>
          <p>Slices</p>
          <p>Map</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </p>
</div>

<div *ngIf="courseData.courseName=='Angular 10 Online Training'">
    
    <accordion>
        <accordion-group heading="INTRODUCTION TO ANGULAR FRAMEWORK">
            <p>Introduction to Angular Framework, History & Overview</p>
            <p>Environment Setup</p>
            <p>Angular CLI, Installing Angular CLI</p>
            <p>NPM commands & json</p>
            <p>Bootstrapping Angular App, Components, AppModule</p>
            <p>Project Setup, Editor Environments</p>
            <p>First Angular App & Directory Structure</p>
            <p>Angular Fundamentals, Building Blocks</p>
           <p> MetaData</p>
        </accordion-group>
        <accordion-group heading="ESSENTIALS OF ANGULAR">
            <p>Component Basics</p>
           <p> Setting up the templates</p>
            <p>Creating Components using CLI</p>
            <p>Nesting Components</p>
            <p>Data Binding – Property & Event Binding, String Interpolation,  
            Style binding</p>
            <p>Two-way data binding</p>
            <p>Input Properties, Output Properties, Passing Event Data</p>
        </accordion-group>
        <accordion-group heading=" TEMPLATES, STYLES & DIRECTIVES">
            <p>Template, Styles, View Encapsulation, adding bootstrap to angular app</p>
            <p>Built-in Directives</p>
            <p>Creating Attribute Directive</p>
           <p> Using Renderer to build attribute directive</p>
            <p>Host Listener to listen to Host Events</p>
            <p>Using Host Binding to bind to Host Properties</p>
        </accordion-group>
        <accordion-group heading="PIPES, SERVICES & DEPENDENCY INJECTION">
            <p>Parametrized Pipes</p>
            <p>Chaining Multiple Pipes</p>
            <p>Creating a Custom Pipe</p>
            <p>Creating a Filter Pipe</p>
            <p>Pure and Impure Pipes (or: How to “fix” the Filter Pipe)</p>
           <p> Understanding the “async” Pipe</p>
            <p>Services</p>
            <p>Dependency Injections</p>
            <p>Creating Data Service</p>
            <p>Understanding Hierarchical Injector</p>
            <p>Services for Cross Component Communication</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </p>
</div>

<div *ngIf="courseData.courseName=='ASP.NET MVC Online Training'">
    
    <accordion>
        <accordion-group heading="INTRODUCTION TO MVC">
            <p>A Brief History of Web Development</p>
            <p>Traditional ASP.NET Web Forms</p>
            <p>Benefits of ASP.NET MVC</p>
        </accordion-group>
        <accordion-group heading="MVC ARCHITECTURE">
            <p>MVC Architecture</p>
           
        </accordion-group>
        <accordion-group heading=" THE MVC PATTERN">
            <p>The MVC Architecture Pattern</p>
            <p>Domain models and Repositories</p>
        </accordion-group>
        <accordion-group heading="ESSENTIAL LANGUAGE FEATURES">
            <p>Automatically Implemented Properties</p>
            <p>Using Object and Collection Initializers</p>
            <p>Entity Framework</p>
            <p>Lambda Expressions</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </p>
</div>

<div *ngIf="courseData.courseName=='Digital Marketing Online Training'">
    
    <accordion>
        <accordion-group heading="Search Engine Optimization (SEO)">
            <p>Introduction to SEO</p>
            
            <p>Types of Search Engines</p>
            <h2>ON-Page Optimization</h2>
            <p>Introduction</p>
            <p>How to do ON-Page Optimization</p>
            <p>Objectives</p>
            <p>Relevancy and Popularity</p>
            <p>Meta Title Tags and META Descriptions</p>
        </accordion-group>
        <accordion-group heading="Social Media">
            <p>Introduction to Social Media</p>
            <p>Making the Message Stick and Spread</p>
            <p>Social Media Channels</p>
            <p>Engaging With Influencers</p>
        </accordion-group>
        <accordion-group heading="Content Marketing">
            <p>Introduction to Content Marketing</p>
            <p>Content Marketing Strategy</p>
            <p>Overseeing a Content Marketing Program</p>
        </accordion-group>
        <accordion-group heading="Email Marketing">
            <p>Introduction to Email Marketing</p>
            <p>Spam</p>
            <p>List building and List Management</p>
            <p>Elements of an Email</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </p>
</div>

<div *ngIf="courseData.courseName=='Automation Anywhere Online Training'">
    
    <accordion>
        <accordion-group heading="Introduction to Automation Anywhere">
            <p>Automation Anywhere Architecture</p>
            <p>Components of AA</p>
            <p>What is control Room</p>
            <p>Different Types of Users</p>
            <p>Bot Creator and Bot Runner</p>
            <p>Software Requirements</p>
            <p>Hardware requirements</p>
        </accordion-group>
        <accordion-group heading="Automation Anywhere Dashboard">
            <p>Navigation Menus</p>
            <p>Task pane</p>
            <p>Repository/Reports/Triggers/Schedules/Workflows</p>
        </accordion-group>
        <accordion-group heading="Task Bots">
            <p>Recording Modes</p>
            <p>Types of Variables</p>
            <p>Commands</p>
            <p>Recording a Task</p>
            <p>Running a Task</p>
            <p>Task Creation</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
        
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </p>
</div>

<div *ngIf="courseData.courseName=='PHP Online Training'">
    
    <accordion>
        <accordion-group heading="AN INTRODUCTION TO PHP">
            <p>History</p>
            <p>Versions and Differences between them Practicality</p>
            <p>Power</p>
            <p>Installation and configuring Apache and PHP</p>
        </accordion-group>
        <accordion-group heading="PHP BASICS">
            <p>Default syntax</p>
            <p>Styles of PHP tags</p>
            <p>Comments in PHP</p>
            <p>Output functions in PHP</p>
            <p>Datatypes in PHP</p>
            <p>Configuration Settings</p>
            <p>Error Types</p>
        </accordion-group>
        <accordion-group heading="VARIABLES IN PHP">
            <p>Variable Declarations</p>
            <p>Variable Scope</p>
            <p>PHP’s Superglobal Variables</p>
            <p>Variable Variables</p>
        </accordion-group>
        <accordion-group heading="CONSTANTS IN PHP">
            <p>Magic Constants</p>
            <p>Standard Pre-defined Constants</p>
            <p>Core Pre-difined Languages</p>
            <p>User defined Constants</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </p>
</div>

<div *ngIf="courseData.courseName=='ASP.NET Online Training'">
    
    <accordion>
        <accordion-group heading="ASP.NET COURSE OVERVIEW">
            <p>Introduction to MS.NET</p>
            <p>Introduction to Web Application</p>
            <p>ASP.NET Introduction</p>
            <p>ASP.NET Programming – Basics</p>
            <p>ASP.NET Page Navigation Options</p>
            <p>ASP.NET Programming – Server Controls</p>
            <p>ASP.NET Programming – Validation Controls</p>
            <p>ASP.NET Programming – Navigation Controls</p>
            <p>ASP.NET Programming with ADO.NET</p>
            <p>ADO.NET LINQ – Language Integrated Query</p>
            <p>ADO.NET Entity Framework and Entity Data Model</p>
            <p>ASP.NET Data Binding Controls</p>
            <p>ASP.NET Configuration</p>
            <p>ASP.NET Error Handling and Debugging</p>
            <p>ASP.Net Web User Control</p>
            <p>Working with Master Pages</p>
            <p>Working with Themes and Skins</p>
            <p>ASP.NET – State Management</p>
            <p>ASP.NET Caching</p>
            <p>ASP.NET Tracing</p>
            <p>ASP.Net – SOAP & XML Web Services</p>
            <p>Introduction to Security in ASP.NET</p>
            <p>E-mail Server</p>
            <p>Introduction to Mobile Programming</p>
            <p>Globalization and Localization</p>
            <p>Personalizing Using Web Parts</p>
            <p>ASP.NET AJAX Extension</p>
            <p>Crystal Reports & Microsoft Report Integration into ASP.NET Web Application</p>
            <p>Deployment</p>
            <p>ASP.NET MVC Framework Overview</p>
            <p>ASP.NET New Features</p>
        </accordion-group>
        <accordion-group heading="Important Links">
            <p><a href="{{courseData.documentUrl}}" target="_blank">Document Urls</a></p>
            <p> <a href="{{courseData.videoUrl }}" target="_blank">Video Urls</a> </p>
            
          </accordion-group>
        
        
        
      </accordion>
      <p>Ratings : <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
    </p>
</div>
</div>




<!--

 <div class="container-fluid" id="course-content">
    <h1 id="course-detail-header">Courses Details</h1>
    <div align="center">
        
        <div>
            <div class="card box-shadow" style="width: 18rem;">
               <img src="assets/images/go-lang.jpg" class="card-img-top" alt="go-lang">
  
                <div class="card-body">
                  
                  <h1 #courseRef></h1>
                  <h5 class="card-title custom-h5" ><i class="fa-solid fa-user"></i> : {{user}}</h5>
                  <p class="card-text" > {{courseData.courseDescription}}</p>
                  <p class="card-text price-tag"> Rs.{{courseData.coursePrice}}</p>
                  <p class="card-text">EnrolledAt : {{enrolledCourseData.CreatedAt|date:'short'}}</p>
                  
                  
                 </div>
              </div>
        </div>
        
    </div> 
-->
 
  