<!-- <p>Get All Products</p>

<div  class="card">
    <div *ngFor="let course of courses" >
        <div class="card-layout">
            <h1>{{course.id}}</h1>
            <h1>{{course.courseName}}</h1>
            <h1>{{course.courseDescription}}</h1>
            <h1>{{course.coursePrice}}</h1>
        </div>
    </div>

</div> -->



 <div class="container-fluid" id="course-content">
  <h1 id="trending-course-heading">Get All <span id="courses-span"> Courses</span></h1>
  <div class="row" >
      
      <div class="col-sm-3 mb-20"  *ngFor="let course of courses" >
        
          <div class="card box-shadow" style="width: 18rem;" >
             <img src="{{course.imageUrl}}" class="card-img-top" width="286px" height="158px" alt="go-lang">

              <div class="card-body">
                <h1 #courseRef>{{course.courseName}}</h1>
                <!-- <h5 class="card-title" #courseName>{{course.courseName}}</h5> -->
                <p class="card-text" #courseDescription>{{course.courseDescription}}</p>
                <p class="card-text price-tag" #coursePrice>Rs.{{course.coursePrice}}</p>
                <form >
                  <button type="submit" class="custom-btn btn btn-primary" (click)="enrollMyCourse(course)">Enroll Course</button>
                  <button type="submit" *ngIf="userName=='admin'" class="custom-btn btn btn-warning" (click)="updateCourse(course.id)" >Update Course</button>
                  <button type="submit" *ngIf="userName=='admin'" class="custom-btn btn btn-danger" (click)="deleteCourse(course.id)" >Delete Course</button>
          
                </form>
                
              </div>
            </div>
            
      </div>
      
      
      
  </div>



  <!-- 


<div class="col-sm-3">
          <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/images/android.jpg" class="card-img-top" alt="android-img">
              <div class="card-body">
                <h5 class="card-title">Android Online Training</h5>
                <p class="card-text">Android is a mobile operating system based on a modified version of the Linux designed primarily for touchscreen mobile devices such as smartphones and tablets.</p>
                <a href="#" class="btn btn-primary">View Course</a>
              </div>
            </div>
      </div>

      <div class="col-sm-3">
          <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/images/angular.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Angular 10 Online Training</h5>
                <p class="card-text">Angular is a TypeScript-based free and open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>
                <a href="#" class="btn btn-primary">View Course</a>
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/images/asp-net-mvc.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ASP.NET MVC Online Training</h5>
                <p class="card-text">ASP.NET MVC is a web application framework developed by Microsoft that implements the model–view–controller pattern. </p>
                <a href="#" class="btn btn-primary">View Course</a>
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/images/digital-market.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Digital Marketing Online Training</h5>
                <p class="card-text">Digital marketing is the component of marketing that uses the Internet and online based digital technologies such as desktop computers, mobile phones.</p>
                <a href="#" class="btn btn-primary">View Course</a>
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/images/automation.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Automation Anywhere Online Training</h5>
                <p class="card-text">Automation Anywhere is an application that allows companies to automate the process.  Automation Anywhere is one of the best RPA tools.</p>
                <a href="#" class="btn btn-primary">View Course</a>
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/images/php.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PHP Online Training</h5>
                <p class="card-text">PHP stands for Personal Home Page. It is a server-side scripting language used for dynamic and interactive web page development.  Most of the Web servers are deployed by PHP. </p>
                <a href="#" class="btn btn-primary">View Course</a>
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card box-shadow" style="width: 18rem;">
              <img src="assets/images/asp_net.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ASP.NET Online Training</h5>
                <p class="card-text">NET is a world-shattering advance in a programming technology platform . ASP.NET is an open source server-side Web application framework dynamic Web pages. with minimum coding to produce. </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
      </div>

   -->


