



<div class="container-fluid" id="course-content">
    <h1 id="course-detail-header">Courses Details</h1>
    <div align="center">
        
        <div>
            <div class="card box-shadow" style="width: 18rem;">
               <img src="assets/images/go-lang.jpg" class="card-img-top" alt="go-lang">
  
                <div class="card-body">
                  
                  <h1 #courseRef></h1>
                  <h5 class="card-title custom-h5" ><i class="fa-solid fa-user"></i> : {{user}}</h5>
                  <p class="card-text" > {{courseData.courseDescription}}</p>
                  <p class="card-text price-tag"> Rs.{{courseData.coursePrice}}</p>
                  <!-- <p class="card-text">EnrolledAt : {{enrolledCourseData.CreatedAt|date:'short'}}</p> -->
                  
                  
                </div>
              </div>
        </div>
        
    </div>
  
  