<div class="custom-reg-form">
    <h1 class="custom-reg-header">Welcome Admin</h1>
    <h1 class="custom-reg-header">Add Course</h1>
      <form>
          <div class="mb-3">
              <label  class="form-label">Course Name</label>
              <input type="text" class="form-control" id="courseName" name="courseName" [(ngModel)]="course.courseName"  aria-describedby="emailHelp">
              
            </div>
            <div class="mb-3">
                <label  class="form-label">Course Price</label>
                <input type="number" class="form-control" id="coursePrice" name="coursePrice" [(ngModel)]="course.coursePrice"  aria-describedby="emailHelp">
                
              </div>
            <div class="mb-3">
                <label  class="form-label">Course Description</label>
                <input type="text" class="form-control" id="courseDescription" name="courseDescription" [(ngModel)]="course.courseDescription"  aria-describedby="emailHelp">
                
              </div>
              
              
          <div class="mb-3">
              <label class="form-label">Course Image Url</label>
              <input type="text" class="form-control" id="courseImageUrl" name="courseImageUrl" [(ngModel)]="course.imageUrl" aria-describedby="emailHelp" >
              
            </div>
            
              <div class="mb-3">
                <label class="form-label">Course Video Url</label>
                <input type="text" class="form-control" id="courseVideoUrl" name="courseVideoUrl" [(ngModel)]="course.videoUrl" aria-describedby="emailHelp" >
                
              </div>
              <div class="mb-3">
                <label class="form-label">Course Document Url</label>
                <input type="text" class="form-control" id="courseDocumentUrl" name="courseDocumentUrl" [(ngModel)]="course.documentUrl" aria-describedby="emailHelp" >
                
              </div>
          
          <button type="submit" class="custom-btn btn btn-primary" (click)="AddCourse()" >Add Course</button>
          <!-- <button type="submit" *ngIf="userName=='admin'" class="custom-btn btn btn-warning" >Update Course</button>
          <button type="submit" *ngIf="userName=='admin'" class="custom-btn btn btn-danger" >Delete Course</button>
           -->
        </form>
  </div>