<mat-toolbar color="primary">
  
  <span>CourseApp</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" routerLink="register">Register</button>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" routerLink="login">Login</button>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" routerLink="logout">Logout</button>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" routerLink="getallcourses">GetAllCourses</button>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" routerLink="enrollcourse">Enrollcourse</button>
  
</mat-toolbar>
