.custom-footer
{
    background-color: rgb(58, 58, 85);
    padding: 70px;
    text-align: center;

}
i{
    margin-left: 40px;
    font-size: 24px;
    color: aliceblue;
    
}

.copy-right-msg
{
    font-weight: bold;
    color: white;
}