<div class="container-fluid custom-footer">
    <div>
        <h2>Elearning Course</h2>
        <p>770-564-8000</p>
        <p>solutions@corecard.com</p>
        <p>Bhopal,It plaza Shahpura near Aura mall</p>
        <p><i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-whatsapp"></i></p>

    </div>
    <div>
        <h2>Quick Links</h2>
        <p>Services</p>

        <p>Success Stories</p>

        <p>Credit APIs</p>

        <p>Pre-Paid & Debit APIs</p>
    </div>
    <div>
        <h2>Company</h2>
        <p>About Us</p>

        <p>Investor Relations</p>

        <p>Careers</p>

        <p>Contact Us</p>
    </div>
    
</div>


<!-- 


<p class="copy-right-msg">2022 &copy;All Right Reserved</p>
    <div class="container">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>

 -->
