.container-fluid
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3A3A3A;
    font-weight: 500;
}
.custom-footer
{
    background-color: #07204B;
    padding: 70px;
    text-align: center;

}
i{
    margin-left: 40px;
    font-size: 24px;
    color: aliceblue;
    
}

.copy-right-msg
{
    font-weight: bold;
    color: white;
}

h2{
    color: #069A8E;
}
p{
    color: #A1E3D8;
}